@{
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/assets/fonts/style.css">

    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/assets/css/style2.css">

    <title>Đăng nhập tài khoản</title>
</head>
<body>



    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="form-block">
                                <div class="mb-4">
                                    <h3>Đăng nhập tài khoản</h3>
                                    <p class="mb-4">Đăng nhập vào tài khoản để tiếp tục</p>
                                </div>
                                <form asp-controller="Home" asp-action="Login" method="post">
                                    <div class="form-group first">
                                        <input type="text" class="form-control" id="username" placeholder="Tên đăng nhập" name="username">

                                    </div>
                                    <div class="form-group last mb-4">
                                        <input type="password" class="form-control" id="password" placeholder="Mật khẩu" name="password">
                                    </div>

                                    <div class="d-flex mb-5 align-items-center" style="align-items:center;">
                                        <span class="text-danger">
                                            @ViewBag.Error
                                        </span>
                                        <span class="ml-auto"><a href="#" class="forgot-pass">Quên mật khẩu</a></span>
                                    </div>

                                    <input type="submit" value="Đăng nhập ngay" class="btn btn-pill text-white btn-block btn-primary">

                                    <p class="d-block text-center my-4 text-muted">hoặc đăng ký là <a href="#">Nhà cung cấp</a> hoặc <a href="#">Siêu thị</a></p>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>
</html>
