
@{
    ViewData["Title"] = "Quản lý đơn hàng";
    Layout = "~/Areas/NhaCungCap/Shared/_LayoutContainer.cshtml";
}


<section class="featured spad">
    <div class="container">
        <h1>Đây là trang quản lý NCC</h1>

        <a href="/Account/Logout">Đăng xuất</a>
    </div>
</section>

