@model Website_QLCC_RauSach.Models.NhanVienSt

@{
    ViewData["Title"] = "Thêm nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .nice-select {
        width: 100%;
        margin-bottom: 24px;
    }
    .list {
        width: 100%;
    }
</style>

<section class="featured spad">
    <div class="container">
        <h4 style="font-weight: 500;">Tạo tài khoản nhân viên</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="AddStaff" method="post">

                    <div class="row">
                        <div class="col-lg-12 col-md-6">
                            <div class="checkout__input">
                                <p>Mã nhân viên<span>*</span></p>
                                <input type="text" asp-for="MaNv">
                            </div>
                            <div class="checkout__input">
                                <p>Họ tên nhân viên<span>*</span></p>
                                <input type="text" asp-for="TenNv">
                            </div>
                            <div class="checkout__input">
                                <p>Số điện thoại<span>*</span></p>
                                <input type="text" name="sdt">
                            </div>
                            <div class="checkout__input">
                                <p>Email<span>*</span></p>
                                <input type="text" name="email">
                            </div>
                            <div class="checkout__input">
                                <p>Chức vụ<span>*</span></p>
                                <select style="width:100%; margin-bottom: 24px;" asp-for="ChucVu">
                                    <option value="Quản lý" style="width:100%;">Quản lý</option>
                                    <option value="Nhân viên" style="width:100%;">Nhân viên</option>
                                </select>
                            </div>
                            <div class="row checkout__input">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Tên đăng nhập<span>*</span></p>
                                        <input type="text" name="username">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Mật khẩu<span>*</span></p>
                                        <input type="password" name="password">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Thêm mới" class="btn btn-primary" />
                    </div>


                    @* <div class="form-group">
                        <label asp-for="MaNv" class="control-label"></label>
                        <input asp-for="MaNv" class="form-control" />
                        <span asp-validation-for="MaNv" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TenNv" class="control-label"></label>
                        <input asp-for="TenNv" class="form-control" />
                        <span asp-validation-for="TenNv" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ChucVu" class="control-label"></label>
                        <input asp-for="ChucVu" class="form-control" />
                        <span asp-validation-for="ChucVu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaSt" class="control-label"></label>
                        <select asp-for="MaSt" class="form-control" asp-items="ViewBag.MaSt"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaTk" class="control-label"></label>
                        <select asp-for="MaTk" class="form-control" asp-items="ViewBag.MaTk"></select>
                    </div>
                     *@
                </form>
            </div>
        </div>
    </div>
</section>

