@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="featured spad">
    <div class="container">
        <h1>Đây là trang quản lý đơn đặt hàng của NVST</h1>

        <a asp-controller="Account" asp-action="Logout">Đăng xuất</a>
    </div>
</section>
